---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---


@charset "utf-8";

// from computationalcameras.org
.videos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

@media (max-width: 600px) {
	.videos__container {
		grid-template-columns: repeat(1, 1fr);
	}
}

ol.bibliography {
  font-size: 0.75em;
  line-height: 1.4;

  li {
    list-style: decimal;
    margin-bottom: 0.75em;
  }

  .pub-note {
    margin-top: 0.4em;
  }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials